In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
import matplotlib.pyplot as plt

In [16]:
df = pd.read_stata(r"../data/final/panel_final_combined_data.dta")
df.columns

Index(['conglome_t1', 'vivienda_t1', 'hogar_t1', 'codperso_t1', 'ocupinf_t1',
       'ocupinf_t2', 'p207_t1', 'p208a_t1', 'p209_t1', 'p501_t1', 'p507_t1',
       'p510_t1', 'p510a1_t1', 'p510b_t1', 'p511a_t1', 'p512a_t1', 'p513a1_t1',
       'p513a2_t1', 'p513t_t1', 'p514_t1', 'p519_t1', 'p520_t1', 'p521a_t1',
       'p521c_t1', 'p524a1_t1', 'p524a2_t1', 'p528_t1', 'p530a_t1', 'p530b_t1',
       'p535_t1', 'p558c_t1', 'p558d_t1', 'p300a_t1', 'p301a_t1', 'p302_t1',
       'p307_t1', 'p313_t1', 'p314a_t1', 'p401f_t1', 'p401_t1', 'p4021_t1',
       'p4022_t1', 'p4023_t1', 'p4024_t1', 'p4025_t1', 'p4191_t1', 'p4192_t1',
       'p4193_t1', 'p4194_t1', 'p4195_t1', 'p4196_t1', 'p4197_t1', 'p4198_t1',
       'p101_t1', 'p102_t1', 'p103_t1', 'p103a_t1', 'p104_t1', 'p104a_t1',
       'p105a_t1', 'p105b_t1', 'p106_t1', 'p106b_t1', 'p107b1_t1', 'p110_t1',
       'p110a1_t1', 'p111a_t1', 'p112a_t1', 'p1142_t1', 'p1144_t1',
       'percepho_t1', 'mieperho_t1', 'ingbruhd_t1', 'ingindhd_t1',
       'insedthd_t1', 'ingseihd_t1', 'ingexthd_t1', 'ingtrahd_t1',
       'ingtexhd_t1', 'ingrenhd_t1', 'ingmo1hd_t1', 'inghog1d_t1',
       'gashog1d_t1', 'linea_t1', 'pobreza_t1', 'estrsocial_t1', 'periodo',
       'status_inf'],
      dtype='object')

In [17]:
# Descartamos las columnas que no son necesarias para el modelo
df = df.drop(columns=['conglome_t1', 'vivienda_t1','hogar_t1','codperso_t1','periodo','ocupinf_t1','ocupinf_t2','linea_t1'])

# Reordenar las columnas para que 'status_inf' sea la primera
df.insert(0, 'status_inf', df.pop('status_inf'))

# Calcular el tiempo total de trabajo en terminos anuales
# Crear la nueva columna 'p513_calculada_t1' que combine años y meses
df['p513_calculada_t1'] = df['p513a1_t1'] + df['p513a2_t1'] / 12
# Ver los primeros resultados para asegurarte de que la columna se calculó correctamente
df[['p513a1_t1', 'p513a2_t1', 'p513_calculada_t1']].head()
df = df.drop(columns=['p513a1_t1', 'p513a2_t1'])

In [4]:
# Lista de variables categóricas, excluyendo p513a1_t1 y p513a2_t1
categorical_columns_t1 = [
    'p207_t1', 'p209_t1', 'p501_t1', 'p507_t1', 'p510_t1', 'p510a1_t1', 'p510b_t1', 'p511a_t1', 'p512a_t1',
    'p514_t1', 'p519_t1', 'p521a_t1', 'p521c_t1', 'p524a2_t1', 'p528_t1', 'p530b_t1', 'p535_t1', 'p558c_t1',
    'p558d_t1', 'p300a_t1', 'p301a_t1', 'p302_t1', 'p307_t1', 'p313_t1', 'p314a_t1', 'p401f_t1', 'p401_t1',
    'p4021_t1', 'p4022_t1', 'p4023_t1', 'p4024_t1', 'p4025_t1', 'p4191_t1', 'p4192_t1', 'p4193_t1', 'p4194_t1',
    'p4195_t1', 'p4196_t1', 'p4197_t1', 'p4198_t1', 'p101_t1', 'p102_t1', 'p103_t1', 'p103a_t1', 'p104_t1',
    'p104a_t1', 'p105a_t1', 'p106b_t1', 'p107b1_t1', 'p110_t1', 'p110a1_t1', 'p111a_t1', 'p112a_t1', 'p1142_t1',
    'p1144_t1', 'estrsocial_t1', 'pobreza_t1'
]

# Filtrar el DataFrame para solo las variables categóricas
df_categoricas = df[categorical_columns_t1]

# Mostrar los valores únicos para cada columna categórica
for col in df_categoricas.columns:
    print(f"\nValores posibles para la columna '{col}':")
    print(df_categoricas[col].value_counts())

Valores posibles para la columna 'p207_t1':
p207_t1
hombre    12010
mujer      8031
Name: count, dtype: int64

Valores posibles para la columna 'p209_t1':
p209_t1
casado(a)        8261
conviviente      4857
soltero(a)       4212
separado(a)      2041
viudo(a)          421
divorciado(a)     249
Name: count, dtype: int64

Valores posibles para la columna 'p501_t1':
p501_t1
si    18893
no     1148
Name: count, dtype: int64

Valores posibles para la columna 'p507_t1':
p507_t1
empleado                    11001
obrero                       4214
trabajador independiente     3222
empleador o patrono          1524
trabajador del hogar           80
Name: count, dtype: int64

Valores posibles para la columna 'p510_t1':
p510_t1
empresa o patrono privado                                 7587
administración pública                                    6529
empresas especiales de servicios (service)                 487
fuerzas armadas, policía nacional del perú (militares)     448
empresa pública                                            164
Name: count, dtype: int64

Valores posibles para la columna 'p510a1_t1':
p510a1_t1
persona jurídica (sociedad anónima; srl; sociedad civil; eirl; fundación ó asociación, etc.)    7766
persona natural (con r.u.c., rus, rer, u otro régimen)                                          5041
no esta registrado (no tiene ruc)                                                                 22
Name: count, dtype: int64

Valores posibles para la columna 'p510b_t1':
p510b_t1
si    9328
no    3501
Name: count, dtype: int64

Valores posibles para la columna 'p511a_t1':
p511a_t1
contrato a plazo fijo                                                   7079
contrato indefinido, nombrado permanente                                6363
regimen especial de contratación administrativa (cas)                    849
sin contrato                                                             435
contrato por locación de servicios (honorarios profesionales, r.u.c)      92
convenios de formacion laboral juvenil                                    22
esta en periodo de prueba                                                  9
Name: count, dtype: int64

Valores posibles para la columna 'p512a_t1':
p512a_t1
más de 500 personas      9515
hasta 20 personas        6477
de 101 a 500 personas    1779
de 21 a 50 personas       954
de 51 a 100 personas      868
Name: count, dtype: int64

Valores posibles para la columna 'p514_t1':
p514_t1
no    16208
si     3833
Name: count, dtype: int64

Valores posibles para la columna 'p519_t1':
p519_t1
si    17286
no     2755
Name: count, dtype: int64

Valores posibles para la columna 'p521a_t1':
p521a_t1
si    1553
no     697
Name: count, dtype: int64

Valores posibles para la columna 'p521c_t1':
p521c_t1
no    18594
si      764
Name: count, dtype: int64

Valores posibles para la columna 'p524a2_t1':
p524a2_t1
0.0        15149
no sabe      132
Name: count, dtype: int64

Valores posibles para la columna 'p528_t1':
p528_t1
no    9101
si    6189
Name: count, dtype: int64

Valores posibles para la columna 'p530b_t1':
p530b_t1
no sabe/no tiene ganancia    4142
0.0                           604
Name: count, dtype: int64

Valores posibles para la columna 'p535_t1':
p535_t1
si                1837
no corresponde    1498
no                1411
Name: count, dtype: int64

Valores posibles para la columna 'p558c_t1':
p558c_t1
mestizo                             13318
quechua                              3275
blanco                                804
no sabe                               674
otro                                  643
negro/ mulato/zambo/afroperuano       573
aymara                                506
nativo o indígena de la amazonía      232
9                                      16
Name: count, dtype: int64

Valores posibles para la columna 'p558d_t1':
p558d_t1
no         15351
si          3420
no sabe     1270
Name: count, dtype: int64

Valores posibles para la columna 'p300a_t1':
p300a_t1
castellano                17797
quechua                    1778
aymará                      338
otra lengua nativa           62
portugués                    41
otra lengua extranjera       14
es sordo mudo                 5
9.0                           1
Name: count, dtype: int64

Valores posibles para la columna 'p301a_t1':
p301a_t1
secundaria completa                     4806
superior universitaria completa         4757
superior no universitaria completa      4085
superior universitaria incompleta       1434
post-grado universitario                1406
secundaria incompleta                   1119
superior no universitaria incompleta     971
primaria completa                        853
primaria incompleta                      522
sin nivel                                 83
12.0                                       1
Name: count, dtype: int64

Valores posibles para la columna 'p302_t1':
p302_t1
si    494
no    112
Name: count, dtype: int64

Valores posibles para la columna 'p307_t1':
p307_t1
si    933
no    101
Name: count, dtype: int64

Valores posibles para la columna 'p313_t1':
p313_t1
estoy trabajando                                                                     570
terminó sus estudios: secundarios/ superiores /asiste a academia preuniversitaria    189
problemas económicos                                                                  86
de vacaciones                                                                         38
problemas familiares                                                                  32
no me interesa/no me gusta el estudio                                                 15
se dedica a los quehaceres del hogar                                                   9
otra razón                                                                             3
no existe centro de educación básica o superior en el centro poblado                   2
asiste a un centro de educación técnico productiva                                     2
Name: count, dtype: int64

Valores posibles para la columna 'p314a_t1':
p314a_t1
si    14026
no     6011
Name: count, dtype: int64

Valores posibles para la columna 'p401f_t1':
p401f_t1
si                     18981
no                      1058
aún no había nacido        2
Name: count, dtype: int64

Valores posibles para la columna 'p401_t1':
p401_t1
no    10385
si     9656
Name: count, dtype: int64

Valores posibles para la columna 'p4021_t1':
p4021_t1
pase                                                           12694
sintoma o malestar (tos, dolor de cabeza, fiebre, nauseas)?     7347
Name: count, dtype: int64

Valores posibles para la columna 'p4022_t1':
p4022_t1
pase    15335
1        4706
Name: count, dtype: int64

Valores posibles para la columna 'p4023_t1':
p4023_t1
pase    18467
1        1574
Name: count, dtype: int64

Valores posibles para la columna 'p4024_t1':
p4024_t1
pase    19688
1         353
Name: count, dtype: int64

Valores posibles para la columna 'p4025_t1':
p4025_t1
pase    11273
1        8768
Name: count, dtype: int64

Valores posibles para la columna 'p4191_t1':
p4191_t1
essalud (antes ipss)    15939
no                       4102
Name: count, dtype: int64

Valores posibles para la columna 'p4192_t1':
p4192_t1
no                         19272
seguro privado de salud      769
Name: count, dtype: int64

Valores posibles para la columna 'p4193_t1':
p4193_t1
no                             19572
entidad prestadora de salud      469
Name: count, dtype: int64

Valores posibles para la columna 'p4194_t1':
p4194_t1
no                          19432
seguro ff.aa./policiales      609
Name: count, dtype: int64

Valores posibles para la columna 'p4195_t1':
p4195_t1
no                                18818
seguro integral de salud (sis)     1223
Name: count, dtype: int64

Valores posibles para la columna 'p4196_t1':
p4196_t1
no                      20029
seguro universitario       12
Name: count, dtype: int64

Valores posibles para la columna 'p4197_t1':
p4197_t1
no    20041
Name: count, dtype: int64

Valores posibles para la columna 'p4198_t1':
p4198_t1
no      19943
otro       98
Name: count, dtype: int64

Valores posibles para la columna 'p101_t1':
p101_t1
casa independiente                                           17568
departamento en edificio                                      1398
vivienda en casa de vecindad (callejón, solar o corralón)      591
vivienda en quinta                                             265
vivienda improvisada                                            10
choza o cabaña                                                   3
local no destinado para habitación humana                        1
Name: count, dtype: int64

Valores posibles para la columna 'p102_t1':
p102_t1
ladrillo o bloque de cemento         14711
adobe                                 2607
madera                                1236
tapia                                  547
otro material                          263
quincha (caña con barro)               247
piedra o sillar con cal o cemento      102
estera                                  97
piedra con barro                        26
Name: count, dtype: int64

Valores posibles para la columna 'p103_t1':
p103_t1
cemento                                      10054
losetas, terrazos o similares                 4260
láminas asfálticas, vinílicos o similares     1776
tierra                                        1499
parquet o madera pulida                       1186
madera (entablados)                           1048
otro material                                   13
Name: count, dtype: int64

Valores posibles para la columna 'p103a_t1':
p103a_t1
concreto armado                                       11272
planchas de calamina, fibra de cemento o similares     6503
caña o estera con torta de barro                        778
tejas                                                   738
madera                                                  310
estera                                                  130
otro material                                            61
paja, hojas de palmera                                   44
Name: count, dtype: int64

Valores posibles para la columna 'p104_t1':
p104_t1
4.0     5202
3.0     4319
5.0     3618
2.0     2039
6.0     1902
7.0      957
1.0      828
8.0      464
9.0      264
10.0     131
11.0      55
12.0      26
13.0      16
15.0       9
14.0       6
Name: count, dtype: int64

Valores posibles para la columna 'p104a_t1':
p104a_t1
3.0     6229
2.0     5948
1.0     2763
4.0     2727
5.0      887
0.0      624
6.0      456
7.0      109
8.0       54
9.0       24
10.0       6
11.0       5
13.0       4
Name: count, dtype: int64

Valores posibles para la columna 'p105a_t1':
p105a_t1
propia, totalmente pagada              14652
cedida por otro hogar o institución     2676
alquilada                               1556
propia, por invasión                     754
propia, comprándola a plazos             204
cedida por el centro de trabajo          175
otra forma                                24
Name: count, dtype: int64

Valores posibles para la columna 'p106b_t1':
p106b_t1
si    10160
no     1013
Name: count, dtype: int64

Valores posibles para la columna 'p107b1_t1':
p107b1_t1
no    19954
si       87
Name: count, dtype: int64

Valores posibles para la columna 'p110_t1':
p110_t1
red pública, dentro de la vivienda                            18182
red pública, fuera de la vivienda pero dentro del edificio      624
otra                                                            344
pozo                                                            274
camión - cisterna u otro similar                                246
pilón de uso público                                            182
río, acequia, manantial o similar                               165
8                                                                24
Name: count, dtype: int64

Valores posibles para la columna 'p110a1_t1':
p110a1_t1
si    16542
no     2436
Name: count, dtype: int64

Valores posibles para la columna 'p111a_t1':
p111a_t1
red pública de desagüe dentro de la vivienda                            17047
pozo séptico                                                              618
pozo ciego o negro                                                        576
red pública de desagüe fuera de la vivienda pero dentro del edificio      568
letrina                                                                   527
río, acequia o canal                                                      223
otra                                                                      218
no tiene                                                                  218
9                                                                          46
Name: count, dtype: int64

Valores posibles para la columna 'p112a_t1':
p112a_t1
con medidor de uso exclusivo                            16463
con medidor de uso colectivo (para varias viviendas)     3433
otro                                                       18
Name: count, dtype: int64

Valores posibles para la columna 'p1142_t1':
p1142_t1
celular    19748
pase         293
Name: count, dtype: int64

Valores posibles para la columna 'p1144_t1':
p1144_t1
internet    10980
pase         9061
Name: count, dtype: int64

Valores posibles para la columna 'estrsocial_t1':
estrsocial_t1
d      7605
e      5716
c      2801
6.0    1619
b      1283
a       683
Name: count, dtype: int64

Valores posibles para la columna 'pobreza_t1':
pobreza_t1
no pobre            19391
pobre no extremo      624
pobre extremo          26
Name: count, dtype: int64

In [19]:
df.shape

(20041, 79)

In [12]:
import pandas as pd

# Suponiendo que tienes un DataFrame df con las columnas categóricas

# Lista de las columnas con solo dos categorías (basado en la revisión)
columns_two_categories = [
    'p514_t1', 'p519_t1', 'p521a_t1', 'p521c_t1', 'p524a2_t1', 'p528_t1', 'p530b_t1', 'p535_t1', 
    'p558d_t1', 'p4191_t1', 'p4192_t1', 'p4193_t1', 'p4194_t1', 'p4195_t1', 'p4196_t1', 'p4198_t1', 
    'p106b_t1', 'p107b1_t1', 'p110a1_t1', 'p1142_t1', 'p1144_t1'
]

# Convertir estas columnas en dummies (para columnas con 2 categorías)
for col in columns_two_categories:
    # Crear las columnas dummy para cada una de las variables
    df = pd.concat([df, pd.get_dummies(df[col], drop_first=True, prefix=col)], axis=1)
    df.drop(columns=[col], inplace=True)  # Eliminar la columna original

# Para las columnas con más de dos categorías, usar pd.get_dummies (One-Hot Encoding)
columns_more_than_two_categories = [
    'p207_t1', 'p209_t1', 'p507_t1', 'p510_t1', 'p510a1_t1', 'p511a_t1', 'p512a_t1', 'p558c_t1', 
    'p300a_t1', 'p301a_t1', 'p302_t1', 'p313_t1', 'p314a_t1', 'p401f_t1', 'p4021_t1', 
    'p4022_t1', 'p4023_t1', 'p4024_t1', 'p4025_t1'
]

# Crear dummies para las columnas con más de dos categorías
df = pd.get_dummies(df, columns=columns_more_than_two_categories, drop_first=False)

# Ahora tu DataFrame df tiene las columnas categóricas convertidas a dummies

In [22]:
print(df.values)

[['Se mantiene formal' 47 'si' ... False True False]
 ['Cae en informalidad' 57 'si' ... False True False]
 ['Se mantiene formal' 29 'si' ... False True False]
 ...
 ['Se mantiene formal' 29 'si' ... False False True]
 ['Se mantiene formal' 31 'si' ... False False True]
 ['Se mantiene formal' 30 'si' ... False False True]]